/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

header {
    background: #d8f3dc;
    color: #1b4332;
    padding: 25px;
}

main {
    padding: 20px;
    color:#52b788;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #74c69d;
    color: white;
    border: beige;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #95d5b2;
}

form {
    margin: 20px auto;
    width: 350px;
    background-color:#f6f4d2;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: black;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}
